body {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  line-height: 1.6;
  margin: auto;
  background-color: crimson;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
